{% extends "OnoMapBundle::layout.html.twig" %}
{% block title %}{{ parent() }} Article {% endblock %}

{% block body %}
  {% block bodyContent %}{{ parent() }}

    <div id="show-action">
      <div class="banner">

      </div>
      <div class="show-body">
        <p class="country">France</p>
        <a href="#">Voir la liste des questions posées dans ce pays</a>
        <div class="show-header">
          <h1 class="show-title">Le numérique apporte une solution dans les déplacements quotidiens.</h1>
          <ul class="themes">
            <li>Alimentation</li>
            <li>Alimentation</li>
            <li>Alimentation</li>
            <li>Alimentation</li>
          </ul>
          <a href="#" class="add"></a>
        </div>
        <div class="show-content">
          <h2>Sous titre</h2>
          <div class="content">
            <article class="">
              Ut aliquam nisl at est pretium viverra. Sed id arcu et ante eleifend viverra nec vel nisi  consectetur adipiscing elit. Sed vel ipsum sodales, dignissim eros eu.Ut aliquam nisl at est pretium viverra. Sed id arcu et ante eleifend viverra nec vel nisi  consectetur adipiscing elit. Sed vel ipsum sodales, dignissim eros eu. Sed id arcu et ante ele
              ifend viverra nec vel nisi  consectetur sed id arcu et ante eleifend viverra nec vel nisi  consectetur. Ut aliquam nisl at est pretium viverra. Sed id arcu et ante eleifend viverra nec  vel nisi  consectetur sed id arcu et ante eleifend viverra nec vel nisi  consectetur. Ut aliquam nisl at est pretium viverra. Sed id arcu et ante eleifend viverra nec. Ut aliquam nisl at est pretium viverra. Sed id arcu et ante eleifend viverra nec vel nisi  consectetur adipiscing elit. Sed vel ipsum sodales, dignissim eros eu.Ut aliquam nisl at est pretium viverra. Sed id arcu et ante eleifend viverra nec vel nisi  consectetur adipiscing elit. Sed vel ipsum sodales, dignissim eros eu. Sed id arcu et ante ele
              ifend viverra nec vel nisi  consectetur sed id arcu et ante eleifend viverra nec vel nisi  consectetur. Ut aliquam nisl at est pretium viverra. Sed id arcu et ante eleifend viverra nec  vel nisi  consectetur sed id arcu et ante eleifend viverra nec vel nisi  consectetur. Ut aliquam nisl at est pretium viverra. Sed id arcu et ante eleifend viverra necUt aliquam nisl at est pretium viverra. Sed id
              rcu et ante eleifend viverra nec vel nisi  consectetur adipiscing elit. Sed vel ipsum sodales, dignissim eros eu.Ut aliquam nisl at est pretium viverra. Sed id arcu et ante eleifend viverra nec vel nisi  consectetur adipiscing elit. Sed vel ipsum sodales, dignissim eros eu. Sed id arcu et ante ele
              ifend viverra nec vel nisi  consectetur sed id arcu et ante eleifend viverra nec vel nisi  consectetur. Ut aliquam nisl at est pretium viverra. Sed id arcu et ante eleifend viverra nec  vel nisi  consectetur sed id arcu et ante eleifend viverra nec vel nisi  consectetur. Ut aliquam nisl at est pretium viverra. Sed id arcu et ante eleifend viverra nec
            </article>
            <article class="">
              Ut aliquam nisl at est pretium viverra. Sed id arcu et ante eleifend viverra nec vel nisi  consectetur adipiscing elit. Sed vel ipsum sodales, dignissim eros eu.Ut aliquam nisl at est pretium viverra. Sed id arcu et ante eleifend viverra nec vel nisi  consectetur adipiscing elit. Sed vel ipsum sodales, dignissim eros eu. Sed id arcu et ante ele
              ifend viverra nec vel nisi  consectetur sed id arcu et ante eleifend viverra nec vel nisi  consectetur. Ut aliquam nisl at est pretium viverra. Sed id arcu et ante eleifend viverra nec  vel nisi  consectetur sed id arcu et ante eleifend viverra nec vel nisi  consectetur. Ut aliquam nisl at est pretium viverra. Sed id arcu et ante eleifend viverra nec. Ut aliquam nisl at est pretium viverra. Sed id arcu et ante eleifend viverra nec vel nisi  consectetur adipiscing elit. Sed vel ipsum sodales, dignissim eros eu.Ut aliquam nisl at est pretium viverra. Sed id arcu et ante eleifend viverra nec vel nisi  consectetur adipiscing elit. Sed vel ipsum sodales, dignissim eros eu. Sed id arcu et ante ele
              ifend viverra nec vel nisi  consectetur sed id arcu et ante eleifend viverra nec vel nisi  consectetur. Ut aliquam nisl at est pretium viverra. Sed id arcu et ante eleifend viverra nec  vel nisi  consectetur sed id arcu et ante eleifend viverra nec vel nisi  consectetur. Ut aliquam nisl at est pretium viverra. Sed id arcu et ante eleifend viverra necUt aliquam nisl at est pretium viverra. Sed id
              rcu et ante eleifend viverra nec vel nisi  consectetur adipiscing elit. Sed vel ipsum sodales, dignissim eros eu.Ut aliquam nisl at est pretium viverra. Sed id arcu et ante eleifend viverra nec vel nisi  consectetur adipiscing elit. Sed vel ipsum sodales, dignissim eros eu. Sed id arcu et ante ele
              ifend viverra nec vel nisi  consectetur sed id arcu et ante eleifend viverra nec vel nisi  consectetur. Ut aliquam nisl at est pretium viverra. Sed id arcu et ante eleifend viverra nec  vel nisi  consectetur sed id arcu et ante eleifend viverra nec vel nisi  consectetur. Ut aliquam nisl at est pretium viverra. Sed id arcu et ante eleifend viverra nec
            </article>
          </div>
          <div class="show-resources">
            <img src="http://www.w3schools.com/css/trolltunga.jpg" alt="">
          </div>
          <div class="footer-content">
            <p class="country">France</p>
            <p class="likes">125 <img src="../img/heart-grey.png" alt=""></p>
          </div>
        </div>
      </div>
      <!-- <div class="">
        <h2>Questions en rapport avec votre recherche</h2>
        <div class="other-show">
          <a href="#">
            <div class="item">
              <p class="title-item">Le numérique apporte une solution dans les déplacements quotidien </p>
            </div>
          </a>
        </div>
      </div> -->

    </div>
  </body>
  {% endblock %}
{% endblock %}
