#sidebarLeft.sidebar-left {
  display: block;
  z-index: 999;
  position: fixed;
  width: 110px;
  height: 100vh;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  -moz-box-shadow: 8px 0px 7px rgba(50, 50, 50, 0.5);
  -webkit-box-shadow: 8px 0px 7px rgba(50, 50, 50, 0.5);
  box-shadow: 8px 0px 7px rgba(50, 50, 50, 0.5);

  @include transition(.4s ease-in);

  color: white;
  text-decoration: none;

  a {
    color: white;
  }
  .main-nav {
    text-align: center;
    font-size:0.8em;
    .nav-head {
      height: 14vh;
      background-color: #FFF;

      .sidebar-img {
        height: 60%;
        display: block;
        margin: auto;
        padding-top: 3vh;
      }

    }
    .nav-body {
      text-align: center;
      li {
        background-size: 30%;
        background-repeat: no-repeat;
        height: 12vh;
        background-position: center 35%;
      }
      .item-nav {
        color: white;
        opacity: 0.8;
        width:108px;
        background-color: transparent;
        display: block;
        margin: auto;
        border-left:2px solid transparent;
        // border-top: 1px solid $medium-grey;
        @include transition(.3s ease-in);
        &:hover, &.active {
          color: $green-hover;
          background-color: rgba(50, 50, 50, 0.85);
          font-weight: bolder;
          border-left: 2px solid $green-hover;
          width:108px;
          opacity: 1;
        }
        li {
          p {
            font-family: 'Roboto';
            text-transform: uppercase;
            font-weight: 400;
            font-size: 0.8em;
            padding-top: 9vh;
          }
        }
      }
    }
    .bg-dark {
      background-color: rgba(30, 30, 30,1);
    }
    .nav-bottom {
      height: 18vh;
      opacity: 0.8;
      text-align: center;
      background-color: $green-hover;
      @include transition(.3s ease-in);
      a {
        height: 18vh;
      }
      &:hover {
        background-color:$green;
        font-weight: bolder;
        opacity: 1;
        }

      p {
        padding-top: 9vh;
        color: white;
      }
      .nav-bar-profile {
        margin-top: 2vh;
        text-align: center;
        color: $light-grey;
        font-size: .9em;
        display: block;
        margin-bottom: 10px;
      }

      .logout-button, .login-button {
        color: $medium-grey;
        font-size: 0.8em;
        font-family: sans-serif;
      }
    }
  }

  #theme-list-container {
    position: fixed;
    left: 88px;
    width: 38vh;
    background-color: white;
    top: 0px;
    color: black;
    font-family: inherit;
    font-weight: 100;
    &.sidebar-open {
      display: block;
    }
    &.sidebar-close {
      display: none;
    }
    #theme-list-container-close {
      display: inline-block;
      position: absolute;
      right: 15px;
      top: 15px;
      width: 15px;
      height: 15px;
      background-image: url(../../onomap/img/logo/cancel.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      cursor: pointer;
    }
    .notice {
      margin-top: 45px;
      text-align: center;
      font-size: 0.8em;
      margin-bottom: 15px;
      padding: 0 10px;
      strong {
        font-weight: 600;
      }
    }
    .theme-list .filter-theme {
      height: 1.8em;
      padding: 0 10px;
      @include transition(.3s);

      background-color: white;
      cursor: pointer;
      &:hover, &.active {
        background-color: $green-light;
        color: white;
      }
      img {
        width: 25px;
        height: 25px;
        display: inline-block;
        float: left;
      }
      span {
        font-size: .9em;
        display: inline-block;
        width: calc(100% - 40px);
        padding: .6em 0 .6em 10px;
      }
    }
  }
}
