#sidebarLeft.sidebar-left {
  display: block;
  z-index: 999;
  position: fixed;
  width: 110px;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #141b20;
  @include box-shadow( 0px 0px 10px rgba(0, 0, 0, 0.5));
  @include transition(.4s ease-in);

  color: white;
  text-decoration: none;

  a {
    color: white;
  }
  .main-nav {
    text-align: center;
    font-size:0.8em;
    .nav-head {
      height: 14vh;
      background-color: #FFF;

      .sidebar-img {
        height: 60px;
        display: block;
        margin: auto;
        padding-top: 3vh;
      }

    }
    .nav-body {
      text-align: center;
      li {
        background-size: 22%;
        background-repeat: no-repeat;
        height: 12vh;
        background-position: center 35%;
      }
      .item-nav {
        color: white;
        opacity: 0.5;
        width:110px;
        background-color: transparent;
        display: block;
        margin: auto;
        border-left:2px solid transparent;
        box-sizing: border-box;

        @include transition(.3s ease-in);
        &:hover, &.active {
          background-color: rgba(50, 50, 50, 0.85);
          font-weight: bolder;
          border-left: 2px solid $green-hover;
          width:110px;
          opacity: 1;
          color: white;
        }
        li {
          p {
            font-family: $font;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 11px;
            padding-top: 8vh;
          }
        }
      }
    }
    .bg-dark {
      background-color: $dark-grey;
    }
    .nav-bottom {
      height: 18vh;
      opacity: 1;
      text-align: center;
      background-color: $green;
      @include transition(.3s ease-in);
      a {
        height: 18vh;
      }
      &:hover {
        background-color:$green-hover;
        opacity: 1;
      }

      p {
        padding-top: 9vh;
        color: white;
        font-family: $font;
      }
      .nav-bar-profile {
        margin-top: 2vh;
        text-align: center;
        color: $light-grey;
        font-size: .9em;
        display: block;
        margin-bottom: 10px;
      }

      .logout-button, .login-button {
        color: $medium-grey;
        font-size: 0.8em;
        font-family: sans-serif;
      }
    }
  }


}

  #theme-list-container {
    position: fixed;
    left: 110px;
    width: 25%;
    min-width: 350px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0px;
    color: white;
    font-family: inherit;
    font-weight: 100;
    z-index: 1;
    @include transition(.4s);

    &.sidebar-open {
      display: block;
      @include transform(translateX(0) translateZ(0));
    }
    &.sidebar-close {
      display: block;
      @include transform(translateX(-100%) translateZ(0));
    }
    #theme-list-container-close {
      display: inline-block;
      position: absolute;
      right: 15px;
      top: 15px;
      width: 15px;
      height: 15px;
      background-image: url(../../onomap/img/logo/cancel.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      cursor: pointer;
      filter: invert(1);
    }
    .notice {
      text-align: center;
      font-size: 1.3em;
      padding: 40px 10px;
      strong {
        font-weight: 600;
      }
    }
    .theme-list .filter-theme {
      height: 3.2vh;
      padding-top: 1.2vh;
      padding-left: 10%;
      @include transition(.3s);
      cursor: pointer;
      &:hover, &.active {
        background-color: rgba(70, 70, 70, 0.9);
        font-weight: bolder;
        border-left: 2px solid $green-hover;
        color: white;
      }
      span {
        font-size: .9em;
        width: calc(100% - 40px);
      }
    }
  }


#headerComplementMenu {
  position: absolute;
  left: 110px;
  bottom: 0px;
  width: 110px;
  height: 72vh;
  background-color: $dark-grey;
  text-align: center;
  box-shadow: 6px 0px 10px rgba(0, 0, 0, 0.4) inset;
  z-index: 1;

  @include transition(.4s);

  &.hidden {
    display: block;
    @include transform(translateX(-100%) translateZ(0));
  }

  &.visible {
    display: block;
    @include transform(translateX(0) translateZ(0));
  }

  li {
    background-size: 22%;
    background-repeat: no-repeat;
    height: 12vh;
    background-position: center 35%;
    list-style: none;
  }
  .item-nav {
    color: white;
    opacity: 0.5;
    width:110px;
    background-color: transparent;
    display: block;
    margin: auto;
    border-left:2px solid transparent;
    box-sizing: border-box;
    // border-top: 1px solid $medium-grey;
    @include transition(.3s ease-in);
    &:hover, &.active {
      background-color: rgba(50, 50, 50, 0.85);
      font-weight: thin;
      border-left: 2px solid $green-hover;
      box-sizing: border-box;
      width:110px;
      opacity: 1;
      color: white;
    }
    li {
      p {
        font-family: $font;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 11px;
        padding-top: 8vh;
      }
    }
  }
}
