#questions-index {
  background-color: #f1f1f1;

.mainContent {
  width:100%;
  height:auto;
  text-align: center;
  background:url("../img/title-bg.jpg") no-repeat;
  background-size: cover;

  h1 {
    color: #FFF;
    margin: auto;
    font-weight: lighter;
    padding:3% 0;
  }

  span {
    font-weight: bold;
  }
}

#tags-container {
  text-align: center;
  padding: 40px 40px 0 40px;
  font-weight: lighter;

  .switch {
    position: relative;
    display: block;
    width: 50px;
    height: 24px;
    margin:auto;
    margin-top:2%;

    input {
      display:none;

      &:checked + .slider {
        background-color: $green;
      }

      &:checked + .focus {
        box-shadow: 0 0 1px $green;
      }

      &:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;

      &::before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
    }

    .round {
      border-radius: 30px;

      &::before {
         border-radius: 50%;
      }
    }
  }

  .tag {
    display:inline-block;
    vertical-align: middle;
    height:auto;
    padding:5px 7px;
    margin: 30px 10px 20px;
    border: 2px solid $green;
    color:$green;
    font-weight: bold;
    font-size: 12px;
    background-color: #fbfbfb;
  }
}

.columns {
  @include column-width(250px);
  @include column-gap(30px);
  width: 90%;
  max-width: 1100px;
  margin: 20px auto;
  font-family: 'Roboto',cursive;

    figure {
      padding-bottom: 10px;
      display: inline-block;
      column-break-inside: avoid;


        .column-container {
          box-shadow: 2px 2px 7px rgba(154, 150, 150, 0.6);
          background-color: #fbfbfb;

          .image {
          width: 100%; height: auto;

            img {
              width: 100%;
              margin:0;
              top:0;
            }

            img + .info {
              top:-23px;
            }

            .info {
            background-color: rgba(0,0,0,0.8);
            height: 20px;
            position: relative;
            }

            h4 {
              margin:0;
              color:#FFF;
              padding:5px 0 0 20px;
              font-size: 10px;
              font-weight: lighter;
            }
          }

          .colum-content {
            margin:15px;

            .profil {
              width:100%; height:auto;
              padding:10px;

              img {
                height:35px;
                display: inline-block;
                border-radius: 50%;
                vertical-align: middle;
              }

              #profil-description {
                display:inline-block;
                font-size:12px;
                vertical-align: middle;

                span {
                  text-transform: uppercase;
                  color:$dark-grey;
                }
              }

              &::after{
                content: "";
                display: block;
                margin:15px 0px 15px;
                width:100%;
                height:1px;
                background-color: rgba(102, 102, 102,0.7);
              }
            }

            p {
             line-height: 20px;
             margin:10px;
             font-size:15px;
             font-weight: lighter;
           }


           figcaption {
             font-size: .9rem;
             line-height: 1.5;
             margin:25px 0px 20px;
             padding: 0px 8px;
             display: inline-block;
           }

            span {
              color:$green;
            }

            h2 {
              font-size:20px;
              color:$green;
              text-align: left;
              padding:5px 0 15px;

            }

            h3 {
              margin:10px 10px 15px;
              font-size: 20px;
              color:$dark-grey;
              text-transform: uppercase;
            }

          }
        }
      }
    }
  }
