body#ono_map_tag_view {
  span#tag{
    color:$green;
    font-weight: bold;
  }
  .author {
    background-color: $green;
    color:white;
    font-style: italic;
    font-size: 1.7em;
    text-align: center;
    padding:0.5em 0;
  }
  #bouton-container {
    margin: 1em auto 0;
    display: flex;
    flex-direction: row;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-top: 1px solid $green;
    width : 80%;

    .bouton-carousel {
      padding:0.4em 0.8em;
      color:white;
      background-color: $green;
      border-radius: 6px;
      cursor:pointer;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      border:1px solid $green;
      margin:1.5em auto;
      font-size: 0.8em;
      &:hover{
        color:$green;
        background-color: white;
      }
    }
  }
}
