
{% extends "OnoMapBundle:Admin:layout.html.twig" %}

{% block body %}

<div class="mainContent">
  <h1>Editer indéfinition à : {{ indefinition.tag.libTag }}</h1>
  {{ form(form) }}
</div>

{% endblock %}
