
{% extends "OnoMapBundle:Admin:layout.html.twig" %}

{% block body %}
<div class="mainContent">
  <p>
    Bienvenue sur le panneau d'administration de Ono.<br>
    Choisissez une rubrique dans le panneaux de gauche.
  </p>
</div>
{% endblock %}
