
{% extends "OnoMapBundle:Admin:layout.html.twig" %}

{% block body %}

<div class="mainContent">
<p>
  Ici liste de tout les thème avec des fonctions de suppressions, modification et un lien vers l'ajout
</p>
</div>

{% endblock %}
