
//Color
$dark-grey : #3c3c3c
$medium-grey: #666
$light-grey : #CCC

//Ex : item nav bar on hover
$green-dark : #145600
$green : #709129
$green-light : #a6d541
$green-hover : #94D376 

$blue: #18769c
$yellow : #dfa100
$red : #bb3030
