/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


/*///////////////////////////////////////////////////////////*/
/*                        Style générique                    */
/*///////////////////////////////////////////////////////////*/

table {
	border-collapse: collapse;
	border-spacing: 0;
}


html, body {
  height: 100%; margin: 0; padding: 0;
}

p {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

#mapBody {
	overflow: hidden;
}


/*Gère l'affichage du panneau de développement*/
.true-hidden {
  display: none;
}
.true-visible {
  display: block;
}

/*Style d'un bouton par défault*/
.button-style {
  display: block;
  padding: 10px 15px;
  color: white;
  font-weight: bold;
  background-color: rgba(0,0,0, .6);
  border : 2px solid grey;
  border-radius: 5px;
  font-family: sans-serif;
  cursor: pointer;
}

.layout-scroll{
  padding: 20px 0;
  height: 500px;
  overflow: scroll;
  border-top: 1px solid rgb(71, 71, 71);
}

/*//////////////////////*/
/*   Dev environment    */
/*//////////////////////*/

#display-dev {
  position: absolute;
  z-index: 998;
  top: 15px;
  right: 15px;
}

.devEnv {
  position: absolute;
  z-index: 999;
  background-color: rgba(0,0,0, .6);
  border: 2px solid grey;
  border-radius: 5px;
  color: white;
  top: 60px;
  right:15px;
  padding: 20px;
  font-family: sans-serif;
  font-weight: 100;
}

.devEnv li {
  margin-top: 15px;
}


/*//////////////////////*/
/*  			 Map   				*/
/*//////////////////////*/

#map {
  min-height: 500px;
}


/*//////////////////////*/
/*       Menu           */
/*//////////////////////*/

.burger-button span {
  height: 2px;
  width: 35px;
  background-color: white;
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  opacity: 1;
  position: absolute;
  left: 8px;
}

.sidebar-left.sidebar-open {
  left: 0;
}
.sidebar-left.sidebar-close {
  left: -300px;
}
.sidebar-left.sidebar-close .burger-button {
  left: 330px;
  background-color: rgba(0,0,0, .5);
  border-radius: 5px;
}
.sidebar-left {
  display: block;
  z-index: 999;
  position: absolute;
  width: 300px;
  height: 1300px;
  background-color: rgba(0,0,0, .7);
  -webkit-transition: .4s ease-in;
  -o-transition: .4s ease-in;
  transition: .4s ease-in;
  color: white;
  text-decoration: none;
}
.sidebar-left .burger-button {
	width: 50px;
	height: 40px;
  background-color: transparent;
  padding: 10px;
  position: relative;
  left: 235px;
  top: 10px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  cursor: pointer;
}


/*Menu Fermé*/
.sidebar-left .burger-button span:first-child {

}
.sidebar-left .burger-button span:last-child {
  top: 30px;
}
.sidebar-left .burger-button span:nth-child(2) {
  top: 20px;
}

/*Menu ouvert*/
.sidebar-left.sidebar-open .burger-button span:first-child {
  transform: rotate(45deg);
  position: absolute;
  top: 16px;
}
.sidebar-left.sidebar-open .burger-button span:nth-child(2) {
  opacity: 0;
}
.sidebar-left.sidebar-open .burger-button span:last-child {
  position: absolute;
  transform: rotate(-45deg);
  top: 16px;
}

/*Menu fermé hover*/
.sidebar-left.sidebar-close .burger-button:hover span:first-child {
  transform: rotate(35deg);
  width: 20px;
  left: 27px;
  top: 15px;
}
.sidebar-left.sidebar-close .burger-button:hover span:nth-child(2) {

}
.sidebar-left.sidebar-close .burger-button:hover span:last-child {
  transform: rotate(-35deg);
  width: 20px;
  top: 25px;
  left: 27px;
}

.sidebar-left nav {

}
.sidebar-left nav img {

}
.sidebar-left nav h2 {
  font-family: sans-serif;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
  font-size: 25px;
  margin-left: 20px;
}
.sidebar-left nav ul {
  padding: 10px 0px;

}
.sidebar-left nav li.filter-theme {
  font-size: 14px;
  font-weight: 100;
  font-family: sans-serif;
  list-style: none;
  padding: 10px 20px;
  letter-spacing: 1px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  cursor: pointer;
}


.sidebar-left nav li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidebar-left nav li.active {
  background-color: rgba(255, 255, 255, 0.3);
}


.sidebar-left .sidebar-img {
  width: 50%;
  display: block;
  margin: 30px auto;
}


/*//////////////////////*/
/*   Panneau de réponse */
/*//////////////////////*/

#sidebarQuestionsList {
	padding-top: 25px;
}
#sidebarRight .title {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
}
#sidebarQuestionsList li {
	margin-bottom: 10px;
	font-size: 17px;
	cursor: pointer;
	padding-left: 10px;
	border-left: 3px solid tranparent;
}
#sidebarQuestionsList li:hover {
	border-left: 3px solid white;
}

#sidebarQuestionView .button-style {
	display: inline-block;
}

#comebackQuestionView {
	margin-bottom: 20px;
}

.sidebar-right {
	width: 450px;
	position: absolute;
	top: 0;
	height: 100%;
	background-color: rgba(0,0,0, .8);
	z-index: 999;
	color: white;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: 100;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}

.sidebar-right .button-style {
	border-radius: 0;
	border: 2px solid white;
	background-color: white;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	color: black;
	font-weight: 100;
	font-size: 15px;
	letter-spacing: 2px;
	padding: 7px 10px;
	text-transform: uppercase;
	margin: 15px 5px;
}
.sidebar-right .button-style.no-marge {
	margin: 0;
	margin-bottom: 15px;
}

.sidebar-right .button-style:hover {
	background-color: transparent;
	color: white;
}

.sidebar-right .sidebar-content {
	overflow: hidden;
	min-height: 1080px;
	position: relative;
}

.sidebar-right .sidebar-content .sidebar-panel {
	position: absolute;
	width: 100%;
	top: 0;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.sidebar-right .sidebar-content .sidebar-panel.sidebar-panel-position-left {
	left: -100%;
}
.sidebar-right .sidebar-content .sidebar-panel.sidebar-panel-position-center {
	left: 0%;
}
.sidebar-right .sidebar-content .sidebar-panel.sidebar-panel-position-right{
	left: 100%;
}

.sidebar-right .marge {
	margin: 0 25px;
}
.sidebar-right .no-marge {
	margin: 0;
}

/*Gère la position du panneau en fonction des évenements js*/
.sidebar-right.sidebar-open {
	right: 0;
}
.sidebar-right.sidebar-close {
	right: -500px;
}

/*Transition du contenu lors de la mise à jour des question*/
.sidebar-right .state-fixe {
	opacity: 1;
	/*filter: blur(0px);
	position: relative;
	left: 0;
	transform: rotateX(0deg);*/
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.sidebar-right .state-transition {
	opacity: 0;
	/*filter: blur(10px);
	position: relative;
	left: 500px;
	transform: rotateX(90deg);*/
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}


/*Contenu */
.sidebar-right h2 {
	font-size: 30px;
	margin: 20px 0px 20px 10px;
	margin-left: 10px;
	letter-spacing: 3px;
}

.sidebar-right .themes ul {
	display: flex;
	flex-direction: row;
}
.sidebar-right .themes li {
	padding-top: 15px;
	line-height: 10px;
	height: 40px;
	display: inline-block;
	flex: auto;
	text-align: center;
	border: 1px solid white;
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
	border-top: 0px;
	border-left: 0;
}

.sidebar-right .themes li:last-child {
	border-right: 0px;
}

.sidebar-right .themes li:hover {
	background-color: white;
	color: black;
}

.sidebar-right .other-responses .title {
	margin-top: 20px;
}

.sidebar-right .slide-button {
	width: 40px;
	min-height: 600px;
	height: 100%;
	background-color: rgba(248, 192, 0, 0.87);
	padding: 10px;
	position: absolute;
	left: -40px;
	top: 0px;
	cursor: pointer;
	background-image: url(../../onomap/img/logo/arrow.png);
	background-position: center;
	background-size: 70%;
	background-repeat: no-repeat;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}

.sidebar-right .slide-button:hover {
	background-color: rgba(248, 192, 0, 1);
}




.container-info {
	width: 300px;
	height: 200px;
}



.container-info .question{
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0;
	color: #000072;
}
.container-info .author{
	font-size: 15px;
	color: rgb(170, 170, 170);
	margin-bottom: 20px;
	display: inline-block;
}
.container-info .content {
	font-weight: 100;
}
.container-info .date {
	color: rgb(92, 92, 92);
	display: inline-block;
	margin-left: 20px;
}
.container-info .thematic-contain {
	display: block;
	padding-left: 0;
}
.container-info .thematic-contain li {
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 2px;
	border-radius: 3px;
	background-color: rgb(255, 231, 148);
	border: 0;
	display: inline-block;
}

/*//////////////////////*/
/*  Alerts container	  */
/*//////////////////////*/

#alerts-container {
	position: absolute;
	bottom: 5px;
	width: 500px;
	z-index: 9999;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
#alerts-container .alert-container {
	position: relative;
	width: 500px;
	padding: 20px;
	margin: 5px auto;
	display: block;
	z-index: 9999;
	border-radius: 5px;
	border: 2px solid #145600;
	text-align: center;
	cursor: pointer;
}
#alerts-container .alert-container .alert-title {
	text-transform: uppercase;
	color: white;
	font-size: 15px;
	font-weight: 100;
	letter-spacing: 3px;
	margin-bottom: 0;
}
#alerts-container .alert-container .alert-content {

}
#alerts-container .alert-container.alert-status-notice {
	background-color: rgba(83, 177, 84, 0.9);
}
#alerts-container .alert-container.alert-status-warning {
	background-color: rgb(223, 161, 0);
}
#alerts-container .alert-container.alert-status-error {
	background-color: rgb(208, 62, 62);
}



/*//////////////////////*/
/*  		FORM ADD 				*/
/*//////////////////////*/

.form-add form {
	margin-top: 25px;
}
