<div id="loaderContent">
  <div id="loader" data-animationDuration="3000">
    <span id="antenne" class="skew"></span>
    <span id="interieur" class="skew"></span>
    <span id="exterieur" class="skew"></span>
    <span id="oeil" class="skew"></span>
  </div>
  <p class="loader-notice">Chargement</p>
</div>
