<noscript>
  <div id="noScript">
    <p>Attention : </p>
    <p>Afin de pouvoir utiliser Google Maps, JavaScript doit être activé.</p>
    <p>Or, il semble que JavaScript est désactivé ou qu'il ne soit pas supporté par votre navigateur.</p>
    <p>Pour afficher Google Maps, activez JavaScript en modifiant les options de votre navigateur, puis essayez à nouveau.</p>
  </div>

  <style media="screen">
    #loaderContent { display: none !important;}
    #sidebarLeft { display: none !important;}
  </style>
</noscript>
