{% extends "OnoUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="form-container">
      {{ include('OnoUserBundle:Security:login_content.html.twig') }}
    </div>
    <div class="intro-description">
      <h2>Le numérique</h2>
      <h3>Est-il un véritable atout pour nos vie ?</h3>
      <article class="">
        <p>
          Ono est la plateforme qui permet aux utilisateurs d’avoir un autre oeil sur le numérique monde numérique et les aide à se rapprocher, comme une porte ouverte sur le monde de demain.L’interculturalité et les avis divers sont au centre de cette plateforme et apportent un humanisme qui manque au monde d’aujourd’hui.
        </p>
        <p>
          Mais quelle est réellement la place du numérique dans notre quotidien et quelle est la vision de celui ci à travers le monde ? 
        </p>
      </article>
    </div>
{% endblock fos_user_content %}
